__pycache__
*.pyc
*.pyo
*.pyd
.Python
build
develop-eggs
dist
downloads
eggs
.eggs
lib
lib64
parts
sdist
var
wheels
*.egg-info
.installed.cfg
*.egg
.pytest_cache
.coverage
.tox
.mypy_cache
.git
.gitignore
README.md
.env
.env.*
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
Dockerfile
.dockerignore
pytest.ini
tests
requirements.txt
